<?xml version="1.0" encoding="utf-8"?>
<TimelineConfig>
  <HideDesignINotice>false</HideDesignINotice>
  <Enabled>true</Enabled>
  <OverlayVisible>true</OverlayVisible>
  <Left>1560</Left>
  <Top>68</Top>
  <Width>322</Width>
  <Height>219</Height>
  <NoticeLeft>1550</NoticeLeft>
  <NoticeTop>269</NoticeTop>
  <NoticeWidth>300</NoticeWidth>
  <NoticeHeight>500</NoticeHeight>
  <IsTimelineLiveUpdate>false</IsTimelineLiveUpdate>
  <NotifyInterval>20</NotifyInterval>
  <ProgressBarRefreshInterval>50</ProgressBarRefreshInterval>
  <TimelineRefreshInterval>200</TimelineRefreshInterval>
  <PSyncDetectInterval>100</PSyncDetectInterval>
  <ResidentScriptInterval>20</ResidentScriptInterval>
  <NotifyThreadPriority>Normal</NotifyThreadPriority>
  <TimelineThreadPriority>Normal</TimelineThreadPriority>
  <IsMute>false</IsMute>
  <Clickthrough>true</Clickthrough>
  <OverlayOpacity>1</OverlayOpacity>
  <OverlayScale>1</OverlayScale>
  <NearestActivityScale>1.5</NearestActivityScale>
  <NextActivityBrightness>0.8</NextActivityBrightness>
  <ShowActivitiesCount>5</ShowActivitiesCount>
  <ShowActivitiesTime>120</ShowActivitiesTime>
  <ShowProgressBarTime>15</ShowProgressBarTime>
  <IndicatorVisible>true</IndicatorVisible>
  <IndicatorStyle>HEADER</IndicatorStyle>
  <ActivityMargin>3 8 3 0</ActivityMargin>
  <OverlayBackground>#AA000000</OverlayBackground>
  <Styles>
    <Style>
      <Name>Default</Name>
      <IsDefault>true</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Arial" Size="14" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>HEADER</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Consolas" Size="15" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>NOTICE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>true</IsDefaultNotice>
      <Font FontFamily="Arial" Size="16" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFB22222</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
    <Style>
      <Name>NOTICE_NORMAL</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Arial" Size="16" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000080</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
  </Styles>
  <TimelineFiles>
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Global.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Alphascape_V1.0_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Alphascape_V2.0_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Alphascape_V3.0_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Alphascape_V4.0_Savage_with_Triggers.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Eden2_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Eden3_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Eden4_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Sigmascape_V1.0_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Sigmascape_V2.0_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Sigmascape_V3.0_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\raids_Sigmascape_V4.0_Savage.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Reference.cshtml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\ult_altema.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\The_Epic_Of_Alexander_(Ultimate).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\The_Final_Coil_Of_Bahamut.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\The_Navel_(Extreme).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\The_Navel_(Unreal).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Eden's Promise Eternity (Savage).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Asphodelos_The Fourth_Circle_(Savage).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\test_VAR+EVAL+DynamicRegex.xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Dragonsong's_Reprise_(Ultimate).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Abyssos_The_Eighth_Circle_(Savage).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Abyssos_The_Fifth_Circle_(Savage).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Abyssos_The_Seventh_Circle_(Savage).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Abyssos_The_Sixth_Circle_(Savage).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\The_Omega_Protocol_(Ultimate).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Anabaseios The Twelfth Circle (Savage).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\AAC Light-heavyweight M4 (Savage).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\Futures_Rewritten_(Ultimate).xml" Value="true" />
    <File Key="C:\Game\ACT.Hojoring\resources\timeline\AAC_Heavyweight_M3_Savage.xml" Value="true" />
  </TimelineFiles>
</TimelineConfig>